<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.myapp.Organize4U">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VideoActivity" />
        <activity android:name=".CallingActivity" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".AlarmReceiver" />
        <activity
            android:name=".Main2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.Register" />
        <activity android:name=".auth.Login" />
        <activity android:name=".auth.ProfileActivity" />
        <activity
            android:name=".Main3Activity_calculation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".auth.Profile" />
        <activity
            android:name=".note.EditNote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".note.AddNote"
            android:label="@string/title_activity_add_note"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.myapp.Organize4U.MainActivity" />
        </activity>
        <activity
            android:name=".note.NoteDetails"
            android:label="@string/title_activity_note_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main4Activity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote" />
    </application>

</manifest>